<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/css/upload.css" rel="stylesheet" type="text/css">

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Okidoki.svg/2000px-Okidoki.svg.png" width="130" height="45" alt="">
    </a>
</nav>
<div id = "menu1">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/main" role="tab" aria-controls="v-pills-home" aria-selected="true">Main </a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/registration" role="tab" aria-controls="v-pills-profile" aria-selected="false">Registration</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/logout" role="tab" aria-controls="v-pills-messages" aria-selected="false">Sign out</a>
    </div>
</div>

<div class="thumbnail"><img src="https://pp.userapi.com/c844417/v844417718/16cbc/0iG69s068uk.jpg" alt="kitty" id="Visual" style="float: right"/></div>
<main role="main" class="container">
    <h1>Spring Boot - Upload Status</h1>
    <div>
        <!--<div th:if="${message}">-->
            <!--<h2 th:text="${message}"/>-->
        <!--</div>-->
        <p>Woild You like to receive an email with stats?</p>
    <td><a href="/stat">Get it!</a></td>
</div>
</main>
</body>
</html>